body {
    background-color: rgb(144, 230, 201);
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-family: pokemon hollow;
    
}

img{
    margin: auto, 0;
    height: 300px;
    width: 250px;
    border: azure 5px solid;
    border-radius: 30px 0px;
    margin: auto;
    
    
    
    
    
}
.back{
    background-color: rgb(16, 171, 182);
    padding-top: 40px;
    border: burlywood 5px dashed ;
    padding-right:240px;
}
.name{
    color: cornsilk;
    display: inline-block;
    font-family: pokemon solid;
    text-shadow: 2px 4px 6px salmon;
    
}
h3{
    font-family: pokemon solid;
    text-shadow: 2px 4px 6px salmon;
    font-size: 30px;
   
    
}
