body {
    background-color: rgb(144, 230, 201);
    margin: 0 auto;
    text-align: center;
    font-family: pokemon solid;
    color: seashell;
    text-shadow: 2px 4px 6px salmon;

    
}

img {
    margin: 0 auto;
    vertical-align: middle;
    height: 300px;
    width: 250px;
    border:#F4BA70 10px groove;
    border-radius: 70px 0px;

       
}
.back {
    background-color: rgb(16, 171, 182);
    border:#F4BA70 2px groove;
    border-radius: 180px 180px;
    
}  
.name {
    color: cornsilk;
    position: absolute;
    left: 150px;
    font-family: pokemon solid;
    text-shadow: 2px 4px 6px salmon;
    text-transform: capitalize;
    
}
h3{
    font-family: pokemon solid;
    text-shadow: 2px 4px 6px salmon;
    font-size: 30px;
    text-transform: capitalize;
    color: rgb(28, 46, 100);
    
}
h2{
    text-transform: capitalize;
    color: seashell;
    text-shadow: 2px 4px 6px salmon;
}
.nav-wrapper{
    text-shadow: 2px 4px 6px rgb(30, 23, 90);
}